$appWidth: 944px;
$mobileBreakpoint: 820px;

$linkColor: #FFFFFF;
$accentColor: #002e5a;
$titleColor: #6d6f71;
$subtitleColor: $accentColor;

$features-copyColor: #898989;

$videoPlayer-backgroundColor: $accentColor;
$videoPlayer-copyColor: #FFFFFF;
$videoPlayer-descColor: #FFFFFF;

$learnMoreTextColor: $linkColor;
$learnMoreBackgroundColor: $accentColor;

$moreFeaturesTitlesColor: $titleColor;

$selectorTextColor: #898989;
$selectorHighlightedTextColor: $linkColor;
$selectorHighlightedBackgroundColor: $accentColor;
$selectorBackgroundColor: #000000;
$selectorSeeAllColor: #959595;
$selectorCTAColor: $accentColor;

$moreFeaturesBackgroundColor: #000000;