banner {
	cursor: default;

	img {
		width: 100%;
	}

	learn-more-button {
		top: 54%;
		right: 2%;
        width: 15%;
        height: 34px;
        border-radius: 20px;
        
        @media screen and (max-width: 685px) {
            font-size: small;
            top: 60%;
            width: 25%;
            height: 28px;

            img {
            	top: 3px;
            }
        }
	}
}

banner.fr {
	learn-more-button {
		@media screen and (max-width: $mobileBreakpoint) {
			right: 37%;
			width: 28%;
		}
	}
}