learn-more-button {
	display: block;
	position: absolute;
	top: 50%;
	width: 180px;
	height: 40px;
	margin-top: -20px;
	color: $learnMoreTextColor;
	@include transition(0.2s);
    font-weight: 300;
    border-radius: 15px;
    @media screen and (max-width: 685px) {
        font-size: .7em !important;
    }

    * {
    	color: $learnMoreTextColor;
    }

	div {
		width: 100%;
		height: 100%;
		display: table;
		position: absolute;
		z-index: 2;
	}

	p {
		display: table-cell;
		vertical-align: middle;
		text-transform: uppercase;
		text-align: center;
		@include Arial-Bold();
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		margin-top: 1px;
	}
}

learn-more-button:hover {
	@include desaturate(100%);
}